.product-card {
    position: static;
    width: 300px;
    height: 420px;
    box-shadow: 0 10px 15px rgba(181, 181, 181, 0.7);
    background: #f0f0f0;
    margin: 15px;
    .product-img {
        width: 300px;
        height: 230px;
    }

    .product-detail {
        width: 300px;
        height: 190px;
        background: #21222d;
        border-radius: 0 40% 0 0;
        padding: 0.8rem;
        font-family: "Poppins", sans-serif;
        color: #fff;

        .price {
            display: block;
            font-weight: 700;
            font-size: 1.1rem;
        }

        p {
            font-size: 0.8rem;
            color: #5f5f6b;
        }
    }
    .buttons {
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;

        .qnt-input-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.2em;
            .qnt-title {
                margin-right: 10px;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                /* display: none; <- Crashes Chrome on hover */
                -webkit-appearance: none;
                margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
            }

            input[type="number"] {
                -webkit-appearance: none;
                margin: 0;
                -moz-appearance: textfield; /* Firefox */
                width: 30px;
                
                border: unset;
                outline: none;
                background-color: #21222d;
                color: #fff;
                font-size: 1.1em;
                margin-left: 15px;
            }

            input[type="number"]:out-of-range{
                border: solid 1px red;
            }
        }

        .btn {
            position: relative;
            border: none;
            outline: none;
            background: #35355f;
            color: #fff;
            height: 40px;
            border-radius: 50px;
            font-size: 0.9rem;
            font-family: "Poppins", sans-serif;
            margin: 5px;
        }
        .btn::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #35353f;
            height: 45px;
            transition: 0.3s;
        }
        .btn:hover::before {
            border-color: #fff;
        }

        .cart {
            width: 160px;
        }
        .cart::before {
            width: 160px;
            border-radius: 50px;
        }

        .bookmark {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            border-radius: 50%;
        }

        .bookmark::before {
            width: 45px;
            border-radius: 50%;
        }
    }
}
